/* primary/default attributes */
:root {
    --textcolor: black;
    --primarybg: #ece6ff;
    --backbutton: rgb(177, 175, 175);
    --bordercolor: black;
}

/* dark mode atttributes */
[dataTheme="dark"] {
    --primarybg: #5c5961;
    --textcolor: #ffff;
    --backbutton: #ffff;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--textcolor);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primarybg);
}

nav {
    padding: 30px;
    border-bottom-style: solid;
    border-color: var(--bordercolor);
}

nav a button {
    background-color: var(--backbutton);
    color: var(--bordercolor);
}

nav img {
    width: 25px;
    float: right;
    cursor: pointer;
}

.blogArea div {
    border: dotted;
    margin: 5px;
    padding: 0px 0px 5px 10px;
    text-align: center;
}

.blogArea div h5 {
    text-align: left;
    margin: 0px;
    padding: 3px; 
}

#blogFooter {
    border-top-style: solid;
    border-color: var(--bordercolor);
    padding: 20px;
    text-align: center;
    width: 97.5%;
    /* keeps footer at the bottom of the page */
    position: fixed;
    bottom: 0;
    background-color: var(--primarybg);
}

#blogFooter a {
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}