*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    align-items: center;
}

nav {
    background-color: #ffff;
    padding: 30px;
}

.titleimg{
    padding: 15px;
    margin:  2px;
    border-style: solid;
    border-color: black;
}

a button {
    background-color: black;
    color: white;
    padding: 15px;
    margin: 5px;
}

#toggle {
    width: 20px; 
    float: right;
    display: flex;
    justify-content: flex-start;
}

